.git
.idea
.env
/ressources/images/profilePicture/
/ressources/files/invoices/*/*/*.pdf
.DS_Store
/ressources/images/recipeImage/
/ressources/files/serviceProvider/

/ressources/images/shopImage/
/.ash_history
/ssl/
/ressources/images/roomImage/
/ressources/images/imageTraining/
/ressources/files/diplomas/
/ressources/images/recipesImages/
/log/
