.git
.idea
.env
/ressources/images/profilePicture/
/ressources/files/invoices/*/*/*.pdf
/ressources/images/recipeImage/
/ressources/files/serviceProvider/
/log/

.DS_Store
/ressources/images/shopImage/
