@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* SCROLLBAR */


/* For Chrome, Safari */

::-webkit-scrollbar {
    width: 12px;
    /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #D3665A;
    border-radius: 10px;
    border: 3px solid #F5F5F5;
}

html,
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f0f0f0 !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    z-index: 50;
    top: 0;
}

footer {
    background-color: #FF9B90;
}

#footer {
    margin-top: auto;
    color: white;
}

nav {
    background-color: #e1e1e1;
}

ul,
li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.flagPicture {
    width: 35px;
    height: 25px;
    border-radius: 5px;
}

.calendar-months {
    display: block;
}

#calendar tr:hover {
    background-color: transparent !important;
}

#addEventButton {
    margin-top: 30px;
    padding: 8px;
    color: white;
    background: #FF9B90;
    border: 1px solid #FF9B90;
    border-radius: 10px;
    transition: .4s;
}

#addEventButton:hover {
    transform: translate3d(0, -10px, 0);
    transition: .4s;
}

a {
    text-decoration: none !important;
}

tbody tr:hover {
    background-color: #e7e6e6 !important;
}

nav ul li a:hover {
    color: #FF9B90 !important;
}

.connexionInscriptionLinks {
    display: flex;
    align-items: center;
}

.connexionInscriptionLinks li {
    padding: 0 10px;
}

.connexionInscriptionLinks .pricingLink {
    width: 122px;
    color: white;
    font-weight: bold;
    background-color: #1C7832;
    border: 2px solid #1C7832;
    border-radius: 15px;
}

.connexionInscriptionLinks .logoutLink {
    width: 122px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.connexionInscriptionLinks .pricingLink:hover {
    color: #1C7832;
    font-weight: bold;
    background-color: white;
    border: 2px solid #1C7832;
}

.connexionInscriptionLinks li .connexionLink,
.connexionInscriptionLinks .inscriptionLink {
    background-color: white;
    border: 2px solid #FF9B90;
    color: #FF9B90;
    font-weight: bold;
    border-radius: 15px;
    width: 122px;
}

.connexionInscriptionLinks li .connexionLink:hover,
.connexionInscriptionLinks .inscriptionLink:hover {
    background-color: #FF9B90;
    border: 2px solid #FF9B90;
    color: white;
    font-weight: bold;
}


/* Form */

form {
    display: flex !important;
    flex-direction: column !important;
}

form input {
    border: 2px solid #FF9B90 !important;
    border-radius: 10px !important;
    padding: 10px !important;
}

form input[type="submit"] {
    width: inherit;
    margin: 0 auto;
    color: #FF9B90;
}

form input[type="submit"]:hover {
    background-color: #FF9B90;
    border: 2px solid #FF9B90;
    color: white;
    font-weight: bold;
}

#divTypeInscription input[type="checkbox"]:checked+label {
    background-color: #FF9B90 !important;
    color: white !important;
}

#divTypeInscription label {
    border: 2px solid #FF9B90 !important;
}


/* DASHBOARD ADMIN */

.dashboardAdmin #usersInfos,
.dashboardAdmin #totalUsers {
    background: white;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.dashboardAdmin #totalUsers #allUsers,
.dashboardAdmin #totalUsers #usersPending {
    background: white;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 5px;
    height: 100%;
}

.button_profil {
    display: flex;
}

.button_profil a {
    text-decoration: none;
    color: white;
    width: 100%;
    margin-right: 10px;
}

.button_profil a:hover {
    text-decoration: none;
    color: white;
}


/* PROFIL DROPDOWN */

#profileDropdown {
    background: transparent;
    border: none;
    position: relative;
    left: 30px;
}

#profileDropdown::after {
    display: none;
}

#profileDropdown img {
    transition: border-radius 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    box-shadow: none;
}

#profileDropdown:hover img {
    border-radius: 0%;
    box-shadow: 0 0 0 4px #FF9B90;
}


/* CHOOSE PLAN */

#choosePlan {
    background-color: #FF9B90;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

#choosePlan:hover {
    background-color: white;
    color: #FF9B90;
    font-weight: bold;
    border: 1px solid #FF9B90;
}


/* PRODUCT PAGE */

.productImage {
    height: 100%;
}

.productImage img {
    height: inherit;
}

.productLink {
    color: black !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.product {
    transition: .3s;
}

.product:hover {
    transform: translateY(-5px) !important;
    transition: .3s;
}


/* CART PAGE */

#cartElement {
    position: relative;
}

#nbElemCartSpan {
    position: absolute;
    top: -18px;
    left: 12px;
}


/* PROFIL PAGE */

.allInfoProfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.allInfoProfil .imageProfil img {
    border-radius: 15px;
}

.allInfoProfil .imageProfil {
    position: relative;
}

.allInfoProfil .imageProfil .editProfil {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 10%;
    text-align: right;
}


/*Dark mode*/

#icon {
    width: 30px;
    cursor: pointer;
    color: #FFF;
}

.dark-theme header nav ul li a:not(.dropdown-item) {
    color: white;
}

.dark-theme {
    background-color: #7C8190 !important;
    color: white !important;
}

.dark-theme header nav {
    background-color: #616677 !important;
}

.dark-theme #divTypeInscription label,
.dark-theme table {
    color: white !important;
}

.dark-theme .modal-dialog .modal-content {
    background-color: #7C8190 !important
}

.dark-theme .modal-dialog .modal-content .modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.dark-theme #inscriptionForm hr {
    border: 2px solid white !important;
}

.dark-theme .dashboardAdmin #usersInfos,
.dark-theme .dashboardAdmin #totalUsers {
    background: #7C8190;
    box-shadow: 5px 5px 5px #63666e;
}

.dark-theme .dashboardAdmin #totalUsers #allUsers,
.dark-theme .dashboardAdmin #totalUsers #usersPending {
    background: #7C8190;
    box-shadow: 5px 5px 5px #63666e;
    color: white;
}

.dark-theme tbody tr:hover {
    background-color: #737786 !important;
    color: #FF9B90 !important;
}

.manageSubLink,
.manageInvoice {
    color: white !important;
    font-weight: bold !important;
    border-radius: 15px !important;
    padding: 10px !important;
}

.manageInvoice {
    background-color: #A23A2E !important;
}

.manageSubLink {
    background-color: #FF9B90 !important;
}

.manageSubLink:hover,
.manageInvoice:hover {
    background-color: white !important;
    font-weight: bold !important;
}

.manageSubLink:hover {
    color: #FF9B90 !important;
    border: 1px solid #FF9B90 !important;
}

.manageInvoice:hover {
    color: #A23A2E !important;
    border: 1px solid #A23A2E !important;
}


/* MANAGE INVOICE */

.year {
    margin-bottom: 1em;
}

.year h4 {
    margin: 0;
    padding: 0.5em 0;
}

.month {
    margin-left: 1em;
}

.month h5 {
    padding: 0.25em 0;
    margin-left: 2em;
}

.month ul {
    list-style-type: none;
    margin-left: 2em;
}

.month li {
    margin-bottom: 0.5em;
}

#addIngredientBtn {
    background-color: #FF9B90;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #FF9B90;
}

#addStepBtn {
    background-color: #FF9B90;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #FF9B90;
}

#addIngredientBtn:hover {
    background-color: white;
    color: #FF9B90;
    font-weight: bold;
    border: 1px solid #FF9B90;
}

#addStepBtn:hover {
    background-color: white;
    color: #FF9B90;
    font-weight: bold;
    border: 1px solid #FF9B90;
}

#recepiCreationSubmit {
    background-color: #FF9B90;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #FF9B90;
}

#recepiCreationSubmit:hover {
    background-color: white;
    color: #FF9B90;
    font-weight: bold;
    border: 1px solid #FF9B90;
}